
.container {

}

.main {
  margin: '20px';
  backgoundColor: '#ffffff';
  width: '100%';
  height: '100vh';
}

/* 对应contants里面的右侧 MAIN_SETTINGS_WIDTH 宽度 */
.sidebar {
  margin: '2px';
  backgoundColor: '#ffffff';
  width: '400px';
  height: '100vh';
}


