.nopaddingTabs {

}

.nopaddingTabs :global(.ant-tabs-tabpane) {
  padding-left: 0px !important;
}

.nopaddingTabs :global(.ant-tabs-tab) {
  margin-top: 8px;
  padding: 4px 20px !important;
  color: #000000 !important;
}

.nopaddingTabs :global(.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn) {
  color: #2F6BF4 !important;
}


.nopaddingTabs :global(.ant-tabs-nav) {
  background-color: #F2F2F2 !important;
  width: 64px;
}





